@import "tailwindcss";
/* @import "./fonts.css"; */


/*############*/
/*## LAYOUT ##*/
/*############*/
@theme {
    
}

/*################*/
/*## TYPOGRAPHY ##*/
/*################*/
@theme {
}
@theme {

}

/*############*/
/*## COLORS ##*/
/*############*/
@theme {

}

/*#################*/
/*## ATTRIBUTION ##*/
/*#################*/
.attribution {
    font-size: 11px;
}



/*###########*/
/*## DEBUG ##*/
/*###########*/

body {
    background-color: red;
}